.social-icon-container{
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.social__body{
    border-left: 1px solid white;
    font-size: 13px;
    font-weight: 600;
    height: fit-content;
}

.icon-container{
    background-color: #ffffff25;
    border-radius: 50%;
    min-width: 36px;
    height: 36px;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}
.icon-container:hover{
    background-color: white;
    color: black;
}